---
// src/pages/cv.

import Layout from '../layouts/Layout.astro';
---

<Layout title="John-Paul (JP) Cooper" currentPage="cv">
	<section>
		<h2>My Story</h2>
		
		<p>Hello World!</p>
	</section>

</Layout>
