---
// src/pages/index.

import Layout from '../layouts/Layout.astro';
---

<Layout title="John-Paul Cooper" currentPage="about">
	<section>
		<h2>About Me</h2>
		<p>I am John-Paul (JP) Cooper, currently a graduate student at the University of Alberta, Faculty of Pharmacy and Pharmaceutical Sciences. I am currently
			conducting research on applying machine learning to toxicology. 
		</p>
		<div>
		<p>
			My background can be described as interdisciplinary, ranging from pharmaceutical 
			sciences to machine learning backed by an undergraduate foundation in biology and chemistry. Outside of research, I greatly enjoy discussing & studying
			finance, reading a wide range books, and lifting.
		</p>
		</div>
		<div>
			<p> 
				Fundamentally, I solve complex problems through detail-oriented analysis and output-driven methodologies. 

			</p>
		</div>
		<p>
			In this website, you will find my CV in a narrative format, detailing my personal & professional work. Additionally, under portfolio you
			will find projects & associated documentation alongside articles about personal interests. 
		</p>	
	</section>

</Layout>

