---
// src/pages/index.

import Layout from '../layouts/Layout.astro';
---

<Layout title="John-Paul (JP) Cooper" currentPage="about">
	<section>
		<h2>About Me</h2>
		
		<p>Hello World!</p>
	</section>

	<section class="featured-articles">
		<h2>Featured Work</h2>
		<!-- Articles content will go here -->
	</section>
</Layout>