---
// src/pages/portfolio.

import Layout from '../layouts/Layout.astro';
---

<Layout title="John-Paul (JP) Cooper" currentPage="portfolio">
	<section>
		<h2>My Projects & Library</h2>
		
		<p>Hello World!</p>
	</section>

</Layout>
